<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.hotel.manage.mapper.ICustomerMapper">
	
	<resultMap  id="CustomerResultMap" type="Customer">
		<id property="id" column="ID" />
		<result property="name" column="NAME"/>
		<result property="gender" column="GENDER"/>
		<result property="age" column="AGE"/>
		<result property="phone" column="PHONE"/>
		<result property="rid" column="RID"/>
		<result property="checkintime" column="CHECKINTIME"/>
		<result property="checkouttime" column="CHECKOUTTIME"/>
	</resultMap>
	
	<resultMap type="consume" id="ConsumeResultMap">
		<result property="count" column="COUNT"/>
		<association property="product" resultMap="com.neusoft.hotel.manage.mapper.IProductMapper.ProductResultMap" />		
	</resultMap>
	<resultMap id="CustomerWithProductAndRoomResultMap" type="Customer" extends="CustomerResultMap">
		<association property="room" resultMap="com.neusoft.hotel.manage.mapper.IRoomMapper.RoomResultMap" />
		<collection property="consumes" resultMap="ConsumeResultMap"></collection>
	</resultMap>
 
	<insert id="insert" parameterType="Customer" keyProperty="id"   keyColumn="ID">
	insert into 
	customer (ID, NAME, GENDER, AGE, PHONE, RID, CHECKINTIME, CHECKOUTTIME) 
	values (#{id}, #{name}, #{gender}, #{age}, #{phone}, #{rid}, #{checkintime}, #{checkouttime})
 	</insert>
  
 	<update id="update">
 	update  
 	customer
 	set ID=#{id}, NAME=#{name}, GENDER=#{gender}, AGE=#{age}, PHONE=#{phone},
 		RID=#{rid}, CHECKINTIME=#{checkintime}, CHECKOUTTIME=#{checkouttime}
 	where ID=#{id}
 	</update>
  
	<delete id="delete">
 	delete from 
 	customer 
 	where ID=#{id} 
 	</delete>
 	

 	<!-- 通过id选择客户 -->
 	<select id="selectById"  resultMap="CustomerResultMap">
 	select 
 	*  
 	from customer
 	where ID=#{id}
 	</select>
 	
 	<!-- 通过id来选择用户，用户对选中包含房间信息和所消耗的商品信息 -->
 	<select id="selectByIdWithRoomAndProduct"  resultMap="CustomerWithProductAndRoomResultMap">
 	select 
 	a.*, b.*, c.*, d.*  
 	from customer a inner join room b on a.RID=b.RID 
 	left outer join consume c on a.ID=c.ID 
 	left outer join product d on c.PID=d.PID
 	where a.ID=#{id}
 	
 	</select>
 	
 	<!-- 通过name选择customer -->
 	<select id="selectByName" resultMap="CustomerResultMap">
 	select * 
 	from customer
 	where NAME=#{name} 
 	</select>
 	
 	<!-- 通过房间号来查找customer -->
 	<select id="selectByRid" resultMap="CustomerResultMap">
 	select * 
 	from customer
 	where RID=#{rid} 
 	</select>
 	
 	<!-- 查找特定时间段的入住customer -->
 	<select id="selectByCheckInTime" resultMap="CustomerResultMap">
 	select * 
 	from customer
 	<!-- where CHECKINTIME &lt;= #{endDate} and CHECKINTTIME &gt;= #{startDate}  -->
 	</select>
 	
 	<!-- 查找特定时间段的退房customer -->
 	<select id="selectByCheckOutTime" resultMap="CustomerResultMap">
 	select * 
 	from customer
 	where CHECKOUTTIME &lt;= #{endDate} and CHECKOUTTIME &gt;= #{startDate}
 	</select>
 	
 	<!-- 查找customer总数 -->
 	<select id="selectTotal" resultType="_int">
 	select count(*)
 	from customer 
 	</select>
 	
 	<!-- 分页查找customer -->
 	<select id="selectListByAllWithPage" resultMap="CustomerResultMap">
 	select * 
 	from customer
 	limit #{start}, #{rows}
 	</select>
 	
 	
</mapper>